h1 {
  margin: 1em 0;
}

a {
  color: #019587;
}

a:hover {
  color: #019587;
}

body {
  transition: all 0.25s ease;
}

.data {
  background: #eee;
  padding: .5em 1em;
  margin-bottom: 2em;
}

.data > div:not(:last-child) {
  border-bottom: 1px solid #666;
}

.data > div > span {
  padding: .5em 0;
}

.data > div > .field-name {
  display: block;
  min-width: 8em;
  font-weight: bold;
  padding-bottom: 0;
}

.data > div > .field-content {
  display: inline-block;
  min-width: 1px;
  white-space: pre-line;
  word-break: break-word;
}

.data > div:last-child > .field-name {
  padding-bottom: .5em;
}

.button-container {
  position: fixed;
  bottom: 25px;
  right: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn {
  margin-top: 10px;
  padding: 10px 10px;
  border-radius: 50px;
  background-color: #019587;
  color: #fff;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.btn:hover {
  background-color: #01877a;
  color: #fff;
}

#btnScrollToTop {
  display: none;
}

.material-symbols-outlined {
  display: inline-block;
}

.dark-mode {
  background-color: #212529;
  color: #fff;

  a {
    color: #4ec6ba;
  }

  .data {
    background-color: #343a40;
  }

  .btn {
    background-color: #20b6a7;
    color: #212121;
  }

  .btn:hover {
    background-color: #4ec6ba;
    color: #212121;
  }
}
/*
 * vim: et sw=2
 */
